---
import { SITE } from '../consts';
---
<header class="site-nav">
  <a class="brand" href="/">{SITE.name}</a>
  <nav class="links" aria-label="Navigation principale">
    <a href="/#carnets">Carnets</a>
  </nav>
</header>
